<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Inicio</a>
      <a href="{{ '/tutorials/' | relative_url }}">Tutoriales</a>
    </nav>
    <p class="desc">{{ site.description }}</p>
    <hr/>
  </header>

  <main class="content">
    {{ content }}
  </main>

  <footer class="site-footer">
    <hr/>
    <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
